@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Inria Sans", serif;
}

body {
    background-color: #F2F2F2;
}

.react-multiple-carousel__arrow--left {
    background: #373737 !important;
}

.react-multiple-carousel__arrow--right {
    background: #373737 !important;
}